<div ng-controller="controller_movie_player">

<div class = "video_canvas">
  <canvas id="video-render" width="700" height="500" style="border:1px solid #000000;background:black;"> </canvas>
</div>

<button type="btn_pause" class="btn btn-default" aria-label="Left Align" ng-click="pause_play();">
  <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
</button>
<!--
<div class="progress_bar" id="bar">
  <div class="progress"></div>
  <div class="buffer"></div>
</div>
-->

<button type="btn_volume" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
</button>

<button type="btn_info" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
</button>

<button type="btn_stop" class="btn btn-default" aria-label="Left Align" ng-click="stop_play();">
  <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
</button>

</div>
