<div ng-controller="controller_movie_player">
  <button type="button" id="btn_quit" ng-click="stop_play();" class="btn btn-primary">close</button>
  <button ng-click="stop_play()">隐藏/显示</button>
  <div>
    <canvas id="video-render" width="720" height="480"> </canvas>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-md-1"><button type="button" id="btn_pause" ng-click="pause_play();" class="btn btn-primary">pause</button></div>
      <div class="col-sm-1 col-md-1"> <span id="cur_time" class="label label-default"> 0 </span> </div>
      <div class="progress col-sm-8 col-md-8">
        <div class="progress-bar" id="progress" role="progressbar" aria-valuenow="60"
          aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          <span class="sr-only">0% 完成</span>
        </div>
      </div>
      <div class="col-sm-1 col-md-1"> <span id="full_time" class="label label-default"> 100 </span> </div>
      <div class="col-sm-1 col-md-1"><button type="button" id="btn_close" ng-click="stop_play();" class="btn btn-primary">close</button></div>
    </div>
   </div>

</div>
