body{
	background-color: #F2F2F0;
	TEXT-ALIGN: center;
}

.video_canvas {
	width: 700;
	height:500;
	margin: 10px auto;
	position: relative;
	backgroud-color:black;
}

.video_control{
  width: 600px;
	height: 50px;
	margin:　0px auto;
	position: relative;
  border-radius: 5px;
	TEXT-ALIGN: center;
  background-color: #333333;
}

/*播放进度条*/
.progress_bar{
	display: inline-block;
	width: 400px;
	height: 10px;
	background-color: #E5E5E3;
	border-radius: 5px;
	margin: auto;
	top: 30;
	position: relative;
	cursor: pointer;
}
.progress{
	width: 0px;
	height: 10px;
	background-color: #E74D3C;
	border-radius: 5px;
	position: relative;
	#z-index: 11;
}
.buffer{
	width: 0px;
	height: 10px;
	background-color: #D5D5D5;
	border-radius: 5px;
	position: relative;
	#z-index: 1;
}
